<h2>Contacto</h2>
<button class="btn btn-outline-success"
  [routerLink]="['/dashboard/contacto']">Regresar</button>
<button class="btn btn-outline-primary"
[routerLink]="['/dashboard/contacto', 'nuevo']">Nuevo Contacto</button>
<hr>
<div class="alert alert-success alert-dismissible fade show" role="alert"
*ngIf="notificacion.estado">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>{{ notificacion.mensaje }}</strong>
</div>

<div *ngIf="formularioContacto">
  <form (ngSubmit)="guardarCambios()"
    [formGroup]="formularioContacto">
    <div class="form-group row" [ngClass]="{'has-danger': !formularioContacto.controls['nombre'].valid  }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="nombre">
        <div class="form-control-feedback"
        *ngIf="formularioContacto.get('nombre').errors?.required">
            Este campo es requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="apellido">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Telefono</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="telefono">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Direccion</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="direccion">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-10">
        <input class="form-control" type="email"
        formControlName="correo">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Categoria</label>
      <div class="col-10">
        <input class="form-control" type="text"
        formControlName="idCategoria">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-10">
        <button
          [disabled]="!formularioContacto.valid"
          type="submit" class="btn btn-outline-primary">
          Guardar Cambios
        </button>
      </div>
    </div>
  </form>
</div>
