<hr>
<hr>
<div class="container">
  <div class="row">
    <div class="col">    </div>
    <div class="col-6">
      <div class="text-center" *ngFor="let u of usuario">
        <div class="card text-center">
          <div class="card-header">
            <img src="https://www.shareicon.net/download/2015/09/20/104335_avatar.svg" width="100px" alt="foto-perfil">
          </div>
          <div class="card-block">
            <h4 class="card-title">{{u.nick}}</h4>
            <p class="card-text">"Que bueno es tenerte de vuelta"</p>
            <button class="btn-danger" type="button" [routerLink]="['/dashboard/usuario', usuario.idUsuario]">Editar perfil</button>
          </div>
          <div class="card-footer text-muted">
            <button class="btn-success" type="button" [routerLink]="['/login']">Salir</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
